.footer {
  &__links {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  &__link {
    margin-right: 1rem;
  }

  &__border {
    height: 3px;
    background: linear-gradient(120deg, red, orange, green);
    background-size: 400% 400%;
    animation: change-color 10s ease infinite;
  }

  @media screen and (max-width: 720px) {
    &__links {
      flex-direction: column;
    }
  }
}
