.aside {
  margin: 1rem auto;

  &__heading {
    @include life-savers-font;
    @include heading-text-decoration;
  }

  &__section {
    margin: 2rem 0;
    padding: 0.5rem 2rem;

    &--padding {
      padding-bottom: 2rem;
    }
  }

  &__image {
    margin: 0.5rem 0;
    padding: 2px;
    border-radius: 5px;
    background: linear-gradient(120deg, red, orange, green);
    background-size: 400% 400%;
    @include border-animation;
  }

  &__paragraph {
    text-align: justify;
  }

  &__button {
    margin: 1rem auto -0.5rem;
  }
}
