.main {
  margin: 1rem auto;

  &__heading {
    text-transform: capitalize;
    @include life-savers-font;
    @include heading-text-decoration;
  }

  &__section {
    margin: 2rem 0;
    padding: 0.5rem 2rem;
  }

  &__caption {
    width: 100%;
  }

  &__list {
    margin: 1rem 2rem;

    &--margin-x {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  &__paragraph {
    text-indent: 1rem;
    margin-left: 1rem;
    text-align: justify;
  }

  &__image {
    padding: 1rem;
  }

  &__breadcrumb {
    margin-left: 1rem;
  }

  &__markup {
    // style text from markup
    margin-left: 1rem;
    line-height: 2rem;

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      @include life-savers-font;
      @include heading-text-decoration;
    }

    & li {
      margin-left: 1rem;
    }

    & p {
      margin: 1rem 0 1rem 1rem;
      text-align: justify;
    }
  }

  @media screen and (max-width: 995px) {
    &__video {
      margin: 0.5rem 0;
    }
  }
}
