/* || SIMPLE RESET */
* {
  margin: 0;
  padding: 0;
}

/* || RESET BOX-SIZING TO BORDER-BOX */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* || GENERAL STYLES */
body {
  font-family: Arial, Helvetica, sans-serif;
}

@import './config/mixins.scss';
@import './navbar.scss';
@import './header.scss';
@import './main.scss';
@import './aside.scss';
@import './footer.scss';
