/* || SIMPLE RESET */
* {
  margin: 0;
  padding: 0;
}

/* || RESET BOX-SIZING TO BORDER-BOX */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* || GENERAL STYLES */
body {
  font-family: Arial, Helvetica, sans-serif;
}

@import './config/mixins.scss';
@import './components/scroll-button.scss';
@import './components/image.scss';
@import './static/navbar.scss';
@import './static/header.scss';
@import './static/main.scss';
@import './static/aside.scss';
@import './static/footer.scss';
@import './components/auth.scss';
@import './pages/sitemap.scss';
